<a href="https://colab.research.google.com/github/min207/ESAA/blob/main/ESAA1010.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **datetime 오브젝트**

- datetime 라이브러리: 날짜와 시간을 처리하는 등의 다양한 기능을 제공하는 파이썬 라이브러리
- date(날짜), time(시간), datetime(날짜와 시간)

In [1]:
from datetime import datetime   # 라이브러리 불러오기

# 현재 시간 출력
now1 = datetime.now()
print(now1)

now2 = datetime.today()
print(now2)

2022-10-09 14:13:40.690097
2022-10-09 14:13:40.693849

In [2]:
# datetime에 시간 직접 입력
t1 = datetime.now()
t2 = datetime(1970,1,1)
t3 = datetime(1970,12,12,13,24,34)

print(t1)
print(t2)
print(t3)

2022-10-09 14:16:23.240063
1970-01-01 00:00:00
1970-12-12 13:24:34

In [3]:
# 시간 계산
diff1 = t1 - t2

print(diff1)
print(type(diff1))

diff2 = t2 - t1

print(diff2)
print(type(diff2))

19274 days, 14:16:23.240063
<class 'datetime.timedelta'>
-19275 days, 9:43:36.759937
<class 'datetime.timedelta'>

# **테슬라 주식 데이터로 시간 계산하기**

In [4]:
pip install pandas-datareader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.9.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2022.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2022.9.24)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)

In [12]:
import pandas as pd
pd.core.common.is_list_like=pd.api.types.is_list_like
import pandas_datareader as pdr

# tesla에는 데이터 프레임이 저장됨
tesla = pdr.get_data_quandl('TSLA', api_key = 'wxmC4j191nJFHPWy3HHu')

# tesla에 저장된 데이터프레임을 파일로 저장하기
tesla.to_csv('/content/tesla_stock_quandl.csv')

In [13]:
# 데이터 확인
print(tesla.head())

              Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

In [18]:
tesla.tail()

,Date,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,,
2017-10-16,2017-10-16,353.76,354.48,347.1600,350.60,5353262.0,0.0,1.0,353.76,354.48,347.1600,350.60,5353262.0
2017-10-13,2017-10-13,356.98,358.49,353.6800,355.57,3528413.0,0.0,1.0,356.98,358.49,353.6800,355.57,3528413.0
2017-10-12,2017-10-12,352.95,359.78,352.6400,355.68,4047318.0,0.0,1.0,352.95,359.78,352.6400,355.68,4047318.0
2017-10-11,2017-10-11,353.89,357.60,351.1500,354.60,4476769.0,0.0,1.0,353.89,357.60,351.1500,354.60,4476769.0
2017-10-10,2017-10-10,346.80,355.63,345.5305,355.59,6914972.0,0.0,1.0,346.80,355.63,345.5305,355.59,6914972.0

In [14]:
# 데이터프레임으로 전환
tesla = pd.read_csv('/content/tesla_stock_quandl.csv', parse_dates=[0])
print(tesla.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        115 non-null    datetime64[ns]
 1   Open        115 non-null    float64
 2   High        115 non-null    float64
 3   Low         115 non-null    float64
 4   Close       115 non-null    float64
 5   Volume      115 non-null    float64
 6   ExDividend  115 non-null    float64
 7   SplitRatio  115 non-null    float64
 8   AdjOpen     115 non-null    float64
 9   AdjHigh     115 non-null    float64
 10  AdjLow      115 non-null    float64
 11  AdjClose    115 non-null    float64
 12  AdjVolume   115 non-null    float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 11.8 KB
None

In [15]:
# 2010년 6월 데이터 추출
print(tesla.loc[(tesla.Date.dt.year == 2010)&(tesla.Date.dt.month == 6)])

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume, ExDividend, SplitRatio, AdjOpen, AdjHigh, AdjLow, AdjClose, AdjVolume]
Index: []

In [28]:
#datetime 오브젝트를 인덱스로 지정하기
tesla.index = tesla['Date']
print(tesla.index)

DatetimeIndex(['2018-03-27', '2018-03-26', '2018-03-23', '2018-03-22',
               '2018-03-21', '2018-03-20', '2018-03-19', '2018-03-16',
               '2018-03-15', '2018-03-14',
               ...
               '2017-10-23', '2017-10-20', '2017-10-19', '2017-10-18',
               '2017-10-17', '2017-10-16', '2017-10-13', '2017-10-12',
               '2017-10-11', '2017-10-10'],
              dtype='datetime64[ns]', name='Date', length=115, freq=None)

In [29]:
print(tesla['2018'].iloc[:5,:5])

                 Date    Open    High     Low   Close
Date
2018-03-27 2018-03-27  304.00  304.27  277.18  279.18
2018-03-26 2018-03-26  307.34  307.59  291.36  304.18
2018-03-23 2018-03-23  311.25  311.61  300.45  301.54
2018-03-22 2018-03-22  313.89  318.82  308.18  309.10
2018-03-21 2018-03-21  310.25  322.44  310.19  316.53

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

In [31]:
print(tesla['2017-10'].iloc[:,:5])

                 Date    Open      High       Low   Close
Date
2017-10-31 2017-10-31  320.23  331.9500  320.1800  331.53
2017-10-30 2017-10-30  319.18  323.7800  317.2500  320.08
2017-10-27 2017-10-27  319.75  324.5900  316.6600  320.87
2017-10-26 2017-10-26  327.78  330.2300  323.2000  326.17
2017-10-25 2017-10-25  336.70  337.5000  323.5600  325.84
2017-10-24 2017-10-24  338.80  342.8000  336.1600  337.34
2017-10-23 2017-10-23  349.88  349.9500  336.2500  337.02
2017-10-20 2017-10-20  352.69  354.5500  344.3400  345.10
2017-10-19 2017-10-19  355.56  357.1465  348.2000  351.81
2017-10-18 2017-10-18  355.97  363.0000  354.1300  359.65
2017-10-17 2017-10-17  350.91  356.2200  350.0700  355.75
2017-10-16 2017-10-16  353.76  354.4800  347.1600  350.60
2017-10-13 2017-10-13  356.98  358.4900  353.6800  355.57
2017-10-12 2017-10-12  352.95  359.7800  352.6400  355.68
2017-10-11 2017-10-11  353.89  357.6000  351.1500  354.60
2017-10-10 2017-10-10  346.80  355.6300  345.5305  355.59

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

In [20]:
# 시간 간격을 인덱스로 지정해 데이터 추출하기
tesla['ref_date'] = tesla['Date'] - tesla['Date'].min()
print(tesla.head())

                 Date    Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27 2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26 2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23 2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22 2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21 2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume  \
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

           ref_date
Date
2018-03-27 168 days
2018-03-26 167 days
2018-03-23 164 days
2018-03-22 163 days
2018-03-21 162 days

In [21]:
tesla.index = tesla['ref_date']
print(tesla.iloc[:5,:5])

               Date    Open    High     Low   Close
ref_date
168 days 2018-03-27  304.00  304.27  277.18  279.18
167 days 2018-03-26  307.34  307.59  291.36  304.18
164 days 2018-03-23  311.25  311.61  300.45  301.54
163 days 2018-03-22  313.89  318.82  308.18  309.10
162 days 2018-03-21  310.25  322.44  310.19  316.53

In [22]:
print(tesla['5 days':].iloc[:5,:5])

               Date    Open    High       Low   Close
ref_date
3 days   2017-10-13  356.98  358.49  353.6800  355.57
2 days   2017-10-12  352.95  359.78  352.6400  355.68
1 days   2017-10-11  353.89  357.60  351.1500  354.60
0 days   2017-10-10  346.80  355.63  345.5305  355.59

In [32]:
# 시간 범위 생성해 인덱스로 지정하기
ebola = pd.read_csv('/content/tesla_stock_quandl.csv', parse_dates=[0])
print(ebola.iloc[:5,:5])

        Date    Open    High     Low   Close
0 2018-03-27  304.00  304.27  277.18  279.18
1 2018-03-26  307.34  307.59  291.36  304.18
2 2018-03-23  311.25  311.61  300.45  301.54
3 2018-03-22  313.89  318.82  308.18  309.10
4 2018-03-21  310.25  322.44  310.19  316.53

In [33]:
print(ebola.iloc[-5:,:5])

          Date    Open    High       Low   Close
110 2017-10-16  353.76  354.48  347.1600  350.60
111 2017-10-13  356.98  358.49  353.6800  355.57
112 2017-10-12  352.95  359.78  352.6400  355.68
113 2017-10-11  353.89  357.60  351.1500  354.60
114 2017-10-10  346.80  355.63  345.5305  355.59

In [35]:
head_range = pd.date_range(start='2017-12-31', end='2018-01-05')
print(head_range)

DatetimeIndex(['2017-12-31', '2018-01-01', '2018-01-02', '2018-01-03',
               '2018-01-04', '2018-01-05'],
              dtype='datetime64[ns]', freq='D')

In [36]:
ebola_5 = ebola.head()
ebola_5.index = ebola_5['Date']
ebola_5.reindex(head_range)
print(ebola_5.iloc[:5,:5])

                 Date    Open    High     Low   Close
Date
2018-03-27 2018-03-27  304.00  304.27  277.18  279.18
2018-03-26 2018-03-26  307.34  307.59  291.36  304.18
2018-03-23 2018-03-23  311.25  311.61  300.45  301.54
2018-03-22 2018-03-22  313.89  318.82  308.18  309.10
2018-03-21 2018-03-21  310.25  322.44  310.19  316.53

시간 범위의 주기 설정하기
- DatetimeIndex의 freq 속성값을 지정하여 시간 간격을 조정할 수 있다

  + B: 평일만 포함
  + C: 사용자가 정의한 평일만 포함
  + D: 달력 일자 단위
  + W: 주간 단위
  + M: 월 마지막 날만 포함
  + SM: 15일과 월 마지막 날만 포함
  + BM: M 주기의 값이 휴일이면 제외하고 평일만 포함
  + CBM: BM에 사용자 정의 평일을 적용
  + MS: 월 시작일만 포함
  + SMS: 월 시작일과 15일만 포함
  + BMS: MS 주기의 값이 휴일이면 제외하고 평일만 포함
  + CBMS: BMS에 사용자 정의 평일을 적용
  + Q: 3,6,9,12월 분기 마지막 날만 포함
  + BQ: 3,6,9,12월 분기 마지막 날이 휴일이면 제외하고 평일만 포함
  + QS: 3,6,9,12월 분기 시작일만 포함
  + BQS: 3,6,9,12월 분기 시작일이 휴일이면 제외하고 평일만 포함
  + A: 년의 마지막 날만 포함
  + BA: 년의 마지막 날이 휴일이면 제외하고 평일만 포함
  + AS:년의 시작일만 포함
  + BAS: 년의 시작일이 휴일이면 제외하고 평일만 포함
  + BH: 평일을 시간 단위로 포함(09:00~16:00)
  + H: 시간 단위로 포함(00:00~00:00)
  + T: 분 단위 포함
  + S: 초 단위 포함
  + L: 밀리초 단위 포함
  + U: 마이크로초 단위포함
  + N: 나노초 단위 포함